
.encabezado {
   background-color: bisque; 
   padding: 10px;
}

.encabezado h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;

}

.encabezado h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

#imagen{
    display: none;
    width: 600px;
}

@media screen and (min-width: 600px) and (max-width: 1024px) {
    body {
        background-color: #30c210;
    }
}